
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
.navbar-light .navbar-brand {
  color:white;
  padding: 10px
}
.navbar-brand{
  background-color:darkcyan;
  padding: 5px;
  font-weight:bold
}
body{
  background-color:whitesmoke;
}
.navbar{
  background-color: white;
  padding: 0px 10px 0px 10px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 10px
}
.box{
  background-color: white;
  margin-top: 30px;
  padding: 20px 10px 20px 10px
}
h1{
  color: darkcyan;
  font-weight: bold;
}
h2{
  color: darkcyan;
  font-weight: bold
}
hr{
size: 30
}

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 600 pixels */